html{
    --Vert-clair: #a0cb23;
   --Vert-foncé: #14462d;
   --Rouge-hot: #da485b;
   --Turquoise: linear-gradient(135deg,#92ddd8,#95dcd6);
   --Orange: linear-gradient(135deg,#fb9823,#f58313);
   --Vert: linear-gradient(135deg,#afe223,#a0cb23);
   --Fond-gris-articles: #f6fafb;
   --Jaune-réduction: #fffc00;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-content: center;
    font-display:initial;
    position: sticky;
    top:0;
    padding-left: 300px;
   
}
.bgfruit{
    background-image: url("img/bg_fruit.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 252px;
    height: 571px;
    
}
.banner{
    background-image: url("img/banner.jpg");
    width: 100%;
    height: 968px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
   
}
.text{
    
    font-size: 2rem;
    font-weight:100;
    margin-right: 42%;
    
}
.text p:nth-of-type(2){
    color: black;
    
}


.green{
    color: var(--Vert-clair);
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    padding: 10px;
}
.zero{
   background-color: var(--Vert-foncé);
   color: #f6fafb;
    border-radius: 50%;
    padding: 1.5px;
    margin-right: 3.5em;
    margin-top: 0.7em;
    position:absolute;
    right:0;
    
}
.banner p{
    color: var(--Vert-clair);
}

.bouton{
    display: flex;
    flex-direction: row;
    margin-right: 53%;
}
.btn , .btn1 , .btn2{
    border: 2px solid;
    width:9em;
    height: auto;
    text-align: center;
    text-transform: capitalize;
    padding:12px;
    margin:5px;  
    color: white;
    background-color: var(--Vert-clair);
    font-family: 'Roboto', sans-serif;
}
.btn:last-child{
    background-color:var(--Vert-foncé);
}
.btn1{
    width: 5em;
}
.btn2{
    width: 5em;
    padding: 7px;
    background-color:var(--Vert-foncé);
}
.main , .populaire , .advertise{
    margin-top: 10%;
}
.article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.legume , .boisson , .beaute{
    width: 30%;
    min-width:10%;
    height:10%;
    margin:2em;
    padding:35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
   margin-left: 7em;
   margin-right: 7em;  
}
.bp{
    color: white;
}

.bp  p:first-child{
    font-size:30px;
}
.legume{
    background:var(--Turquoise);
    position: relative;
    height: 25vh;
    padding-right: 5%;
    width: 20%;
justify-content: flex-start;
  
}
.boisson{
    background: var( --Orange);
}
.boisson img , .beaute img{
    align-self: flex-end;
    margin-left:2em;
}
.legume img{
    position: absolute;
    right: 0;
    bottom: 0;
}

.beaute{
    background: var(--Vert-clair);
}



.title{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.title p{
    color: var(--Vert-clair);
    font-size: 1.25em;
}

.steak , .broccoli , .fraise , .miel , .lait , .mangue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align:center;
    background:var(--Fond-gris-articles);
    margin: 1em;
    padding: 1em;
    position: relative;
    width: 15%;
    font-family: 'Roboto', sans-serif;
    font-size: 900;
    font-weight: 100;
   
}

.broccoli{
    border: 1px solid var(--Vert-clair);
}
#hot{
    background-color:#da485b;
    color:white;
    width:2.5em;
    position: absolute;
    top:0;
    left:0;
    margin-top: 0;

}
.gray , .greenb{
    color: gray;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    padding: 9px;
    position: absolute;
    top:1.20em;
    right:1em;
    margin-top: 0;
}
.greenb{
background-color:var(--Vert-clair);
color: white;
}
.yellow{
    color: #fdcc43;;
}

.advertise{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: var(--Vert-clair);
    height: 20vh;
    margin-left: 10%;
    margin-right: 5%;
    color: whitesmoke;
    padding-left: 5%;
    text-align: center;
    border-left: 4px solid var(--Jaune-réduction);
    margin-bottom: 70px;

}
.advertise p:last-of-type{
    font-size: 30px;
}
.advertise p:first-child{
    text-align: center;

}
.advertise img{
    border-radius: 100% 0 0;
    border-top: 3px solid #c2ed46;
    border-left: 40px solid #c2ed46;;
    width: 30%;
    height: 100%;
    
}
span{
    color:var(--Vert-clair);
}
.barre{
    text-decoration: line-through;
    color: black;
}
.promo{
    color:var(--Jaune-réduction);
    font-size:xx-large;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 20px;
    
}
#pp{
    font-size:xx-large;
    font-family: 'Roboto', sans-serif;
}