html{
    --Vert-clair: #a0cb23;
   --Vert-foncé: #14462d;
   --Rouge-hot: #da485b;
   --Turquoise: linear-gradient(135deg,#92ddd8,#95dcd6);
   --Orange: linear-gradient(135deg,#fb9823,#f58313);
   --Vert: linear-gradient(135deg,#afe223,#a0cb23);
   --Fond-gris-articles: #f6fafb;
   --Jaune-réduction: #fffc00;
}
navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-content: center;
    font-display:initial;
    position: sticky;
    top:0;
    padding-left: 300px;
   
}
.bgfruit{
    background-image: url("../integration/img/bg_fruit.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 252px;
    height: 571px;
    
}
.banner{
    background-image: url("../integration/img/banner.jpg");
    width: 100%;
    height: 968px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
   
}
.text{
    font-family: 'Roboto Regular 400', cursive;
    font-size: large;
    font-weight:200
}
.text p:nth-of-type(2){
    color: black;
}
.green{
    color: var(--Vert-clair);
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    padding: 10px;
}
.banner p{
    color: var(--Vert-clair);
}
.text{
    margin-right: 47%;
}
.bouton{
    display: flex;
    flex-direction: row;
}
.btn , .btn1{
    border: 2px solid;
    width:9em;
    height: auto;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    margin:5px;  
    color: white;
    background-color: var(--Vert-clair);
}
.btn:last-child{
    background-color:var(--Vert-foncé)
}
.main , .populaire , .advertise{
    margin-top: 10%;
}
.article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.legume , .boisson , .beaute{
    background:var(--Vert);
    width: 20rem;
    margin:2em;
    padding:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    text-align:left;
}
.boisson{
    background: var( --Orange);
}
.beaute{
    background: var(--Turquoise);
}
.legume p , .boisson p , .beaute p{
    color: white;
    font-size: 1em;
}

.title{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.title p{
    color: var(--Vert-clair);
    font-size: 1.25em;
}

.steak , .broccoli , .fraise , .miel , .lait , .mangue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align:center;
    background:var(--Fond-gris-articles);
    margin: 1em;
    padding: 1em;
    position: relative;
   
}

.broccoli{
    border: 1px solid var(--Vert-clair);
}
#hot{
    background-color:#da485b;
    color:white;
    width:2.5em;
    position: absolute;
    top:0;
    left:0;
    margin-top: 0;

}
.gray , .greenb{
    color: gray;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    padding: 9px;
    position: absolute;
    top:1.20em;
    right:1em;
    margin-top: 0;
}
.greenb{
background-color:var(--Vert-clair);
color: white;
}
.yellow{
    color: #fdcc43;;
}

.advertise{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: var(--Vert-clair);
    height: 20vh;
    margin-left: 10%;
    margin-right: 5%;
    color: whitesmoke;
    padding-left: 5%;
    text-align: center;
    border-left: 4px solid var(--Jaune-réduction);
    margin-bottom: 70px;

}
.advertise p:last-of-type{
    font-size: 30px;
}
.advertise p:first-child{
    text-align: center;

}
.advertise img{
    border-radius: 100% 0 0;
    border-top: 2px solid #c2ed46;
    border-left: 20px solid #c2ed46;;
    width: 30%;
    height: 100%;
    
}
.article p:nth-child(7){
    text-decoration:line-through;
}
span{
    color:var(--Vert-clair);
}
