html{
    --Vert-clair: #a0cb23;
   --Vert-foncé: #14462d;
   --Rouge-hot: #da485b;
   --Turquoise: #92ddd8 to #95dcd6;
   --Orange : #fb9823 to #f58313;
   --Vert : #afe223 to #a0cb23;
   --Fond-gris-articles : #f6fafb;
   --Jaune-réduction : #fffc00;
}
